# Maven
target/
!.mvn/wrapper/maven-wrapper.jar

# IntelliJ
.idea
*.iws
*.iml
*.ipr

# Eclipse
.settings/
.classpath
.project

# NetBeans
nbproject/private/
build/
nbbuild/
dist/
nbdist/
nbactions.xml
nb-configuration.xml

# VS Code
.vscode/

# binaries
*.7z
*.gz
*.iso
*.jar
*.rar
*.tar
*.zip
*.war
*.ear
*.sar
*.class

# logs
*.log

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*

# OS X
.DS_Store